# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Node
node_modules/
dist/

# Ambiente
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/tfplan

# Sistema
.DS_Store
